<div class="block rounded-lg shadow-lg bg-glass px-6 py-12 md:px-12">
  <h1  class="actions text-center mb-6">Here is a the list of public recipes:</h1>
  <% @recipes.each do |recipe| %>
    <div class="actions text-center">
      <%= link_to  recipe.name, user_recipe_path(recipe.user_id, recipe), class: "mb-6"  %>
      <%= recipe.description %>
      <br>
    </div>
  <% end %>
</div>
